/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    /* CSS */
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .head-2{
        background-color: rgba(255, 255, 255, 0.516);
        height: 100vh;
        width: 100%;
        position: relative;
    }
    .head-2 .d-m{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .head-2 .d-m img{
        align-items: left;
        width: 250px;
        margin-left: -45px;
        border-radius: 50%;
        background-color: rgb(50, 51, 63);
    }
    .img-1{
        padding: none;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .con-1 h4{
        margin-left: 20px;
        font-size: 28px;
    }
    .edit-1{
        color: rgb(255, 145, 10);
    }
    .con-2{
        width: 700px;
        font-size: 13px;
        margin-left: 20px;
        padding-right: 30px;
    }
    .mj{
        margin-left: 20px;
    }
    
    .icons-2 ul{
        display: flex;
        margin-left: 10px;
    }
    .icons-2 ul li{
        padding: 1% 2%;
        list-style: none;
    }
    .icons-2 ul li a{
        text-decoration: none;
        font-size:26px;
        color: black;
    }
    
    .icons-2 ul li::after{
        content: '';
        display: block;
        height:2px;
        width: 0px;
        margin: auto;
        background: rgb(0, 0, 0);
        transition: 0.5s;
    }
    .icons-2 ul li:hover::after{
        width: 100%;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    /* CSS */
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 768px) {
    
    .head-2{
        background-color: rgba(255, 255, 255, 0.516);
        height: 100vh;
        width: 100%;
        position: relative;
    }
    .head-2 .d-m{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .head-2 .d-m img{
        align-items: left;
        width: 250px;
        margin-left: -45px;
        border-radius: 50%;
        background-color: rgb(50, 51, 63);
    }
    .img-1{
        padding: none;
        background-color: rgba(0, 0, 0, 0);
    }
    
    .con-1 h4{
        margin-left: 20px;
        font-size: 28px;
    }
    .edit-1{
        color: rgb(255, 145, 10);
    }
    .con-2{
        width: 450px;
        font-size: 13px;
        margin-left: 20px;
        padding-right: 10px;
    }
    .mj{
        margin-left: 20px;
    }
    
    .icons-2 ul{
        display: flex;
        margin-left: 10px;
    }
    .icons-2 ul li{
        padding: 1% 2%;
        list-style: none;
    }
    .icons-2 ul li a{
        text-decoration: none;
        font-size:26px;
        color: black;
    }
    
    .icons-2 ul li::after{
        content: '';
        display: block;
        height:2px;
        width: 0px;
        margin: auto;
        background: rgb(0, 0, 0);
        transition: 0.5s;
    }
    .icons-2 ul li:hover::after{
        width: 100%;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
/* ================================Mobile========================== */
/* ================================Mobile========================== */
/* ================================Mobile========================== */

    
    .head-2{
        background-color: rgba(255, 255, 255, 0.516);
        height: 170vh;
        width: 100%;
        position: relative;
    }
    .head-2 .d-m{
        display: flex;
        flex-direction: column;
    }
    .head-2 .d-m img{
        
        width: 150px;
        margin-left: -45px;
        border-radius: 50%;
        background-color: rgb(50, 51, 63);
    }
    .img-1{
        padding: none;
        background-color: rgba(0, 0, 0, 0);
    }
    .con-1 h4{
        margin-left: 20px;
        font-size: 28px;
    }
    .edit-1{
        color: rgb(255, 145, 10);
    }
    .con-2{
        width: 250px;
        font-size: 13px;
        margin-left: 20px;
    }
    .mj{
        margin-left: 20px;
    }
    
    .icons-2 ul{
        display: flex;
        margin-left: 10px;
    }
    .icons-2 ul li{
        padding: 1% 2%;
        list-style: none;
    }
    .icons-2 ul li a{
        text-decoration: none;
        font-size:26px;
        color: black;
    }
    
    .icons-2 ul li::after{
        content: '';
        display: block;
        height:2px;
        width: 0px;
        margin: auto;
        background: rgb(0, 0, 0);
        transition: 0.5s;
    }
    .icons-2 ul li:hover::after{
        width: 100%;
    }
    
    
    
    
    
    .head-3{
        height: 90vh;
        width: 100%;
        position: relative;
        background-color: rgb(145, 145, 145);
    }

    
    
    .a-cards,.b-cards{
        display: flex;
        text-align: center;
        justify-content: space-evenly;
    }
    .a-card,.b-card{

        background-image: linear-gradient(right, rgb(255, 255, 255), rgb(250, 247, 255));
        padding: 20px;
        margin: 20px;
        display: flex;
        transition: 0.5s;
    }
    .a-card:hover{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    .b-card:hover{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    }
    .card-head img{
        width: 100px;
        border-radius: 50%;
        background-color: rgb(46, 45, 58);
    }
    .card-head p{
        width: 200px;
        font-size: 10px;
    }
    .card-head b{
        font-size: 15px;
    }
    
    .card-head h4{
 
        text-transform: uppercase;
        font-size: 40px;
        width: fit-content;
        margin: auto;
    }
    .card-head h3{
        font-size: 15px;
    }
    .card-head h5{
        font-size: 10px;
    }
    
    .card-inside{
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }
    #bold{
        font-size: 25px;
    }
    
  }